.cart-product {
  display: flex;
  padding: 1vw;
  margin-top: 2vw;
  padding-right: 2vw;  
  align-items: center;
  justify-content: space-between;
  background-image: linear-gradient(to bottom right, #f7d1a8, #ffce99, #ffe5c9);
  box-shadow: 0 2px 5px #ccc;
  height: 30vh
}

.cart-product-desc {
  width: 100%;
  height: 100%;
  padding-left: 2vw;
/*   padding-right: 2vw */
}

.cart-product button {
  background-color: #406eb8;
  color: white;
  font-weight: 800;
  border: none;
  border-radius: 5px;
  outline: none
}

.cart-product > button {
  background-color: red;
  padding: 1%
}

.cart-product-desc > button {
  margin: 5px;
  width: 20px;
  height: 20px;
}

#main-flex {
  display: flex;
  justify-content: space-between;
}

#right {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-right: 10vw;
}

#main {
  width: 50%;
  max-height: 100vh;
  overflow: auto;
}

/* #main::-webkit-scrollbar {
  width: 10px; 
} */

#right button {
  background-color: #406eb8;
  color: white;
  font-weight: 800;
  padding-left: 25px;
  padding-right: 25px;
  margin: 5vh;
  height: 7vh;
  border: none;
  border-radius: 5px;
  outline: none
}