.cart-product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 30vh
}

.cart-product-desc {
  width: 100%;
  padding-left: 2vw;
  padding-right: 2vw
}

.cart-product button {
  background-color: #406eb8;
  color: white;
  font-weight: 800;
  border: none;
  border-radius: 5px;
  outline: none
}

.cart-product-desc > button {
  margin: 5px;
  width: 20px;
  height: 20px;
}