::-webkit-scrollbar {
  width: 2px;
}

body {
  margin: 0;
  background-color: #d3ebe6;
  background: url(https://cdn.glitch.com/cb384e5b-ed54-40c9-81c9-952d70798b31%2Fbackground.jpg?v=1614856977104) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#navbar {
  position: fixed;
  top:0;
  width: 100%;
  height: 12vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-image: url("https://cdn.glitch.com/cb384e5b-ed54-40c9-81c9-952d70798b31%2Fbackground.jpg?v=1614856977104");
  background-color: #d3ebe6;
  background-size: cover;
  box-shadow: 0 2px 5px #ccc;
  color: orange;
  z-index: 2;
}

#navbar > div {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 5vw;
  height: 100%;  
}

#navbar a {
  position: relative;
  font-size: 25px;
  color: #ff992b;
  font-weight: 900;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  font-family: monospace;
}

#navbar a:first-of-type {
  font-size: 40px;
  font-family: "";
  color: black;
}

#navbar input {
  width: 35%;
  height: 40%;  
  outline: none;
}

#cart-count {
  position: absolute;
  top: 50%;
  left: 55%;
  font-family: "Audiowide", sans-serif;
  font-weight: 900;
  font-size: 16px;
  color: black;
/*   #ffbb5c; */
  transform: translate(-50%,-50%);
  
}

#main {
  position: relative;
  top: 10vh;
  padding: 3%;
}

#footer {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  top: 20vh;
  width: 100%;
  background-color: #43474d;
}

#footer > div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#footer > div > a,p {
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: left;
}

#main {
  min-height: 70vh;
}


  