::-webkit-scrollbar {
  width: 2px;
}

body {
  margin: 0
}

#navbar {
  position: fixed;
  top:0;
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: black;
  color: orange;
  z-index: 2;
}

#navbar > div {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 5vw;
  height: 100%;  
}

#navbar a {
  position: relative;
  font-size: 25px;
  color: #ff992b;
  font-weight: 800;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
}

#navbar input {
  width: 30%;
  height: 50%;  
  outline: none;
}

#cart-count{
  position: absolute;
  top: 35%;
  left: 50%;
  font-weight: 900;
  font-size: 18px;
  color: #c2a200;
}

#main {
  position: absolute;
  top: 10vh;
  padding: 3%;
}

/*   transform: translate(-50%,-50%) */