.pro-div {
  display: flex;
  justify-content: space-evenly;
}

.preview {
  display: flex;
}

.desc-div {
  width: 50%;
  margin-right: 5vw;
}

.add-btn {
  align-items: center;
  justify-content: center;
}