#main {
  padding-top: 1vh;
}

.pro-div {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  
}

 .desc-div > p { 
  color: black;
}

.preview {
  display: flex;
}

.preview > img {
  margin: 1%
}

.desc-div {
  width: 50%;
  margin-right: 5vw;
}

.add-btn {
  margin-top: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-btn > button {
  background-color: #406eb8;
  color: white;
  font-weight: 800;
  width: 20%;
  height: 7vh;
  border: none;
  border-radius: 5px;
  outline: none
}

#price {
  color: orange
}