.pro-div {
  display: flex;
  justify-content: space-evenly;
}

.preview {
  display: flex;
}

.desc-div {
  width: 50%;
  margin-right: 5vw;
}

.add-btn {
  margin-top: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-btn > button {
  background-color: blue;
  color: white;
  font-weight: 800;
  width: 20%;
  height: 5vh;
  border: none;
  border-radius: 5px
}