
.home-products {
  display: flex;
  justify-content: space-between;
}

.product-card {
  width: 15%;
  padding: 1%;
  border: 2px solid black;
  color: black;
  text-decoration: none
}

.banner-btn {
  width: 12px;
  height: 12px;
  background-color: grey;
  border: none;
  border-radius: 50%;
  opacity: 30%;
  outline:none;
}

.banner-btn.curr {
  opacity: 60%  
}


.banner {  
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-btns {
  position: relative;
  display: flex;
  bottom: 25px;
  justify-content: center;
  align-items: center;
  z-index:1;
}