
.home-products {
  display: flex;
  justify-content: space-between;
}

.product-card {
  width: 18%;
  background-image: linear-gradient(to bottom right, #f7d1a8, #ffce99, #ffe5c9);
  box-shadow: 0 2px 5px #ccc;
  color: black;
  text-decoration: none
}

.product-card-desc {
  padding-left: 20px;
  padding-right: 20px;
}

.banner-btn {
  width: 12px;
  height: 12px;
  background-color: rgb(104,104,104);
  border: none;
  border-radius: 50%;
  opacity: 50%;
  outline:none;
  margin: 5px;
}

.banner-btn.curr {
  opacity: 80%  
}

.banner {
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-btns {
  position: relative;
  display: flex;
  bottom: 6vh;
  justify-content: center;
  align-items: center;
  z-index:1;
}

#clothing-div,#accessories-div {
  padding-top: 10vh;
}
