
.home-products {
  display: flex;
  justify-content: space-between;
}

.product-card {
  width: 15%;
  padding: 1%;
  border: 2px solid black;
  color: black;
  text-decoration: none
}

.banner-btn {
  maxwidth: 10px;
  height: 10px;
  background-color: grey;
  border: none;
  border-radius: 50%;
  
}